:host {
  display: inline-block;
  outline: none;
  text-align: inherit;
  color: #ccc;
}
:host:hover {
  cursor: text;
}

#container {
  position: relative;
}

#inputClone {
  visibility: hidden;
  padding: 0.5em 0;
}

input,
textarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font: inherit;
  color: #000;
  padding: 0.5em 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

textarea {
  resize: none;
}

.focusedColor {
  color: #4059a9;
  background: #4059a9;
}

:host(.invalid) #underline,
:host(.invalid) #underlineHighlight,
:host(.invalid) .focusedColor {
  color: #d34336;
  background: #d34336;
}
:host(.invalid) #floatedLabel {
  color: #d34336;
}

#floatedLabel {
  font-size: 0.75em;
  background: transparent;
  white-space: nowrap;
}
#floatedLabel.hidden {
  visibility: hidden;
}
#floatedLabel.focused {
  visibility: visible;
}

#label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  background: transparent;
  white-space: nowrap;
  -webkit-transform-origin: 0% 0%;
}
#label.hidden {
  display: none;
}
#label.animating {
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 0, 0.03, 1);
}

#errorContainer {
  visibility: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

:host(.invalid) #errorContainer {
  visibility: visible;
}

#error {
  flex: 1;
  -webkit-flex: 1;
  color: #d34336;
  font-size: 0.75em;
  padding: 0.5em 0;
}

#errorIcon {
  background-image: url(error-100.png);
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  #errorIcon {
    background-image: url(error-200.png);
    background-size: 24px 24px;
  }
}

#underlineContainer {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: top 0.2s ease-in;
}

#underline {
  height: 1px;
  background: #ccc;
  border-bottom-color: #ccc;
}

:host([disabled]) #underline {
  border-bottom: 1px dashed;
  height: 0px;
  background: transparent;
}

#underlineHighlight {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  -webkit-transform: scale(0,2);
}
#underlineHighlight.pressed {
  -webkit-transform: scale(0.1,2);
  transition: -webkit-transform 0.1s cubic-bezier(0.2, 0, 0.03, 1);
}
#underlineHighlight.animating {
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 0, 0.03, 1);
}
#underlineHighlight.focused {
  -webkit-transform: scale(1);
}

#caret {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform-origin-x: 0%;
  -webkit-transform: scaleX(1) translateX(10%);
}
#caret.animating {
  display: block;
  transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
}
#caret.focused {
  display: block;
  opacity: 0.75;
  -webkit-transform: scaleX(0) translateX(0);
}
#caretInner {
  position: absolute;
  top: 0.6em;
  left: 0;
  bottom: 0.6em;
  width: 25%;
}
