:host {
  display: inline-block;
  outline: none;
  text-align: inherit;
  color: #757575;
}

:host /deep/ input,
:host /deep/ textarea {
  font: inherit;
  color: #000;
  /* fit to the container for auto-resizing */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  /* Important to use margin here so the margin remains visible
   * when textarea scrolls internally. */
  margin: 0.5em 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

:host /deep/ input::hover,
:host /deep/ textarea::hover {
  cursor: text;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

textarea {
  resize: none;
  overflow: hidden;
}

[invisible] {
  visibility: hidden;
}

[animated] {
  visibility: visible !important;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.floated-label {
  font-size: 0.75em;
  background: transparent;
  white-space: nowrap;
}

.mirror-text {
  padding: 0.5em 0;
  max-width: 100%;
  white-space: nowrap;
}

:host([multiline]) .mirror-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.label {
  padding: 0.5em 0;
  background: transparent;
  pointer-events: none;
}

.label-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.cursor {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 1px;
  height: 1.4em;
  opacity: 0.4;
  -moz-transform-origin: 0%;
  -webkit-transform-origin: 0%;
  transform-origin: 0%;
  -webkit-transform: none;
  transform: none;
}

.cursor[invisible] {
  opacity: 0.75;
  -webkit-transform: translate3d(3em,0,0) scale3d(50,1,1);
  transform: translate3d(3em,0,0) scale3d(50,1,1);
}

.underline {
  height: 1px;
  background: #757575;
  border-bottom-color: #757575;
}

:host([disabled]) .underline {
  border-bottom: 1px dashed;
  height: 0px;
  background: transparent;
}

.focused-underline {
  height: 2px;
  -webkit-transform: none;
  transform: none;
}

.focused-underline[invisible] {
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
}

.error-text {
  font-size: 0.75em;
  padding: 0.5em 0;
}

.error-icon {
  height: 20px;
  width: 20px;
}
